.flex, body, .level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

body {
  height: 100vh;
  background: #333; }

.level {
  width: 300px;
  height: 300px; }

.target {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px #888;
  position: relative;
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in; }

.marker {
  background: #a2fa66;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in; }

.output {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #222;
  color: #888;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: none; }

body.debug {
  height: auto; }
  body.debug .output {
    display: block; }
